body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  color: white;
  background: #636566;
}

::selection {
  color: white;
  background: #636566;
}

.logo-mnnit {
  display: inline-block;
  height: 70px;
  width: auto;
  margin-top: 10px;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 250;
  background-color: white;
  height: 84px;
  overflow: hidden;
  -webkit-box-shadow: 0px -2px 10px 0px rgba(50, 50, 50, 0.27);
  -moz-box-shadow: 0px -2px 10px 0px rgba(50, 50, 50, 0.27);
  box-shadow: 0px -2px 10px 0px rgba(50, 50, 50, 0.27);
}

.research {
  height: 200px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.graph {
  height: 250px;
  margin-left: 20px;
  margin-bottom: 15px;
}

.main-container {
  margin-top: 120px;
}

p, li {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

li {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.news {
  padding: 20px;
}

.button {
  margin: 10px;
  padding: 5px;
  background-color: #e0e0e0;
  border-radius: 3px;
}

.btn {
  font-size: 18px;
  margin-right: 10px;
  margin-top: 10px;
  width: 100%;
}

.list {
  padding-top: 10px;
  padding-bottom: 20px;
}

.list ul {
  padding-top: 10px;
}

li {
  padding: 3px 0;
}

.footer {
  width: 100%;
  background-color: #414347;
  color: white;
  padding: 30px 0px;
  -webkit-box-shadow: 0px -2px 8px 0px rgba(50, 50, 50, 0.27);
  -moz-box-shadow: 0px -2px 8px 0px rgba(50, 50, 50, 0.27);
  box-shadow: 0px -2px 8px 0px rgba(50, 50, 50, 0.27);
}

@media (max-width:850px) {
  .research {
    height: auto;
  }
  .graph {
    height: auto;
  }
  .logo-mnnit {
    height: 50px;
    margin-top: 20px;
    padding-left: 10px;
  }
  h2 small {
    margin-left: 20px;
  }
}

.card {
  border-radius: 4px;
box-shadow: rgba(42,45,54,.075) 0 12px 34px, rgba(0,0,0,.05) 0 6px 15px, inset transparent 0 0 0 0;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  margin-bottom: 30px;
}

.card:hover {
  -webkit-box-shadow: 0px 0.2px 0.5px 0px rgba(50, 50, 50, 0.23);
  -moz-box-shadow: 0px 0.2px 0.5px 0px rgba(50, 50, 50, 0.23);
  box-shadow: 0px 0.2px 0.5px 0px rgba(50, 50, 50, 0.23);
}

.img {
  margin-top: 25px;
}

@media (min-width:1200px) {
  .card {
    margin-left: 180px;
    margin-right: 180px;
  }
  .img {
    margin-top: 25px;
  }
}

@media (max-width:767px) {
  .img {
    margin-top: 25px;
    margin-left: 30%;
  }
  .card {
    margin-left: 110px;
    margin-right: 50px;
  }
}

@media (max-width:500px) {
  .img {
    margin-top: 25px;
    margin-left: 30%;
  }
  .card {
    margin-left: 5px;
    margin-right: 5px;
  }
}

a:hover {
  text-decoration: none;
}
