body{
    margin:0;
    font-family:'Lato', sans-serif;
    overflow-x:hidden;
}
 .close-overlay{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    background-color:black;
    opacity:0.3;
    z-index:400;
}
 .content{
    background-color:#1e2122;
    width:300px;
    height:100vh;
    position:fixed;
    left:0;
    top:0;
    -webkit-box-shadow:-3px 1px 5px 0px rgba(50, 50, 50, 0.53);
    -moz-box-shadow:-3px 1px 5px 0px rgba(50, 50, 50, 0.53);
    box-shadow:-3px 1px 5px 0px rgba(50, 50, 50, 0.53);
    padding-top:60px;
    box-sizing:border-box;
    z-index:500;
    display:none;
    overflow:auto;
}
 .patch{
    background-color:#1e2122;
    width:275px;
    height:80px;
    position:fixed;
    z-index:502;
    top:0;
    display:none;
}
 .content div{
    padding:19px;
    position:relative;
}
 .content div a{
    padding:20px 0px;
    font-size:16px;
    text-decoration:none;
    color:white;
    margin-left:20px;
}
 .fadeInUp, .fadeOutUp{
    animation-duration:0.2s;
}
 .slideInLeft, .slideOutLeft{
    animation-duration:0.2s;
}
 .content div a:hover{
    color:#2196f3;
}
 .projects-sub, .lectures-sub, .overview-sub,.rules-format-sub,.announcements-sub{
    display:none;
}
 .rt-arrow{
    font-size:28px;
    position:absolute;
    top:18px;
    opacity:0;
    margin-left:10px;
    -webkit-transition:.25s ease-in-out;
    -moz-transition:.25s ease-in-out;
    -o-transition:.25s ease-in-out;
    transition:.25s ease-in-out;
}
 .pdf{
    font-size:20px;
    position:absolute;
    top:21px;
}
 .back-arrow{
    font-size:19px;
    position:absolute;
    top:22px;
    left:19px;
}
 #nav-icon{
    width:34px;
    height:34px;
    position:fixed;
    left:30px;
    top:23px;
    z-index:503;
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    -webkit-transition:.5s ease-in-out;
    -moz-transition:.5s ease-in-out;
    -o-transition:.5s ease-in-out;
    transition:.5s ease-in-out;
    cursor:pointer;
    box-sizing:content-box;
    display:none;
    background-color:white;
    border:4px solid white;
    border-radius:50%;
}
 #nav-icon span{
    display:block;
    position:absolute;
    height:2px;
    width:24px;
    margin-left:5px;
    background:#424242;
    border-radius:9px;
    opacity:1;
    left:0;
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    -webkit-transition:.25s ease-in-out;
    -moz-transition:.25s ease-in-out;
    -o-transition:.25s ease-in-out;
    transition:.25s ease-in-out;
}
 #nav-icon span:nth-child(1){
    top:7px;
}
 #nav-icon span:nth-child(2){
    top:16px;
}
 #nav-icon span:nth-child(3){
    top:25px;
}
 #nav-icon.open span:nth-child(1){
    top:16px;
    -webkit-transform:rotate(135deg);
    -moz-transform:rotate(135deg);
    -o-transform:rotate(135deg);
    transform:rotate(135deg);
}
 #nav-icon.open span:nth-child(2){
    opacity:0;
    left:-100px;
}
 #nav-icon.open span:nth-child(3){
    top:16px;
    -webkit-transform:rotate(-135deg);
    -moz-transform:rotate(-135deg);
    -o-transform:rotate(-135deg);
    transform:rotate(-135deg);
}
 #primary_nav_wrap{
    height:52px;
    width:100%;
    position:relative;
    z-index:100;
    background-color:#212121;
    margin-top:10px;
}
 #primary_nav_wrap ul{
    background-color:#212121;
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0;
}
 #primary_nav_wrap ul a{
    display:block;
    color:#eeeeee;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}
 #primary_nav_wrap ul li{
    position:relative;
    float:left;
    margin:0;
    padding:10px 5px;
}
 #primary_nav_wrap ul li.current-menu-item{
    background:#ddd
}
 #primary_nav_wrap ul > li:hover{
    background:#424242
}
 #primary_nav_wrap ul ul li:hover{
    background:#616161
}
 #primary_nav_wrap ul ul{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0
}
 #primary_nav_wrap ul ul li{
    background-color:#424242;
    float:none;
    width:250px;
}
 #primary_nav_wrap ul ul a{
    line-height:120%;
    padding:10px 15px
}
 #primary_nav_wrap ul ul ul{
    top:0;
    left:100%
}
 #primary_nav_wrap ul li:hover > ul{
    display:block
}
 .pad-container{
    margin-top:40px;
}
 @media (max-width:1085px){
    nav{
        display:none;
    }
     .pad-container{
        margin-top:120px;
    }
}
