body{
  margin: 0;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}
.close-overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  opacity: 0.3;
  z-index: 400;
}
.menu{
  width: 20px;
  height: 2px;
  margin-left:7px;
  position: absolute;
}
#m1{
  background-color: black;
  top: 10px;
}
#m2{
  background-color: black;
  top: 15px;
}
#m3{
  background-color: black;
  top: 20px;
}
.closed{
  width: 20px;
  height: 2px;
  margin-left:7px;
  position: absolute;
  background-color: red;
  z-index: 600;
  visibility: hidden;
}
#c1{
  top: 16px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari */
  transform: rotate(45deg);
}
#c2{
  top: 16px;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Safari */
  transform: rotate(-45deg);
}
.ham{
  width: 34px;
  height: 34px;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  right: 30px;
  top: 15px;
  cursor: pointer;
  z-index: 501;
  -webkit-box-shadow: -1px 0px 2px 2px rgba(50, 50, 50, 0.4);
  -moz-box-shadow:    -1px 0px 2px 2px rgba(50, 50, 50, 0.4);
  box-shadow:         -1px 0px 2px 2px rgba(50, 50, 50, 0.4);
}
.content{
  background-color: #1e2122;
  width: 300px;
  height:100vh;
  position: fixed;
  right: 0;
  -webkit-box-shadow: -3px 1px 5px 0px rgba(50, 50, 50, 0.53);
  -moz-box-shadow:    -3px 1px 5px 0px rgba(50, 50, 50, 0.53);
  box-shadow:         -3px 1px 5px 0px rgba(50, 50, 50, 0.53);
  padding-top: 60px;
  box-sizing: border-box;
  z-index: 500;
  display: none;
  overflow: auto;
}
.content div{
    padding: 19px;
}
.content div a{
  font-size: 16px;
  text-decoration: none;
  color: white;
  margin-left: 30px;
}
.slideInRight{
  animation-duration: 0.3s;
}
.glyphicon-menu-right{
  display: none;
}
.content div a:hover{
  color: #ff5252;
}
